version: '3'

services:
  ipfs:
    image: tornadoalert/go-ipfs-cors
    ports:
    - "5001:5001"
    volumes:
    - ipfs-data:/data/ipfs
  # rabbit:
  #   image: rabbitmq:alpine
  # redis:
  #   image: redis
  couchdb:
    image: couchdb
    ports:
    - "8001:5984"
    environment:
    - COUCHDB_USER=admin 
    - COUCHDB_PASSWORD=admin
    volumes:
      - couchdb-data:/opt/couchdb/data
      # - ./couchconfig:/opt/couchdb/etc/local.d
      - ./config/enableCors.ini:/opt/couchdb/etc/local.ini
  # worker:
  #   build: .
  #   command: celery -A tasks worker --loglevel=info
  #   volumes:
  #     - .:/code/
  #   depends_on:
  #     - rabbit
  #     - redis
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code/
    ports:
      - 8000:8000
    # depends_on:
    #   # - worker
    #   # - db
volumes:
  couchdb-data:
  ipfs-data: