<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <!-- Navigation bar -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="assets/logo.png" alt="" >
              </a>
              <a class="navbar-item"><span class="subtitle">SANA Node</span> &nbsp;beta</a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end ">
                    <!-- If logged in -->
                    <div v-if="currentUser.user === true" class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link">
                                {{currentUser.name}}
                            </div>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" @click="current = 'notifications'">
                                    <div>
                                    Notifications
                                    </div>
                                </a>
                                <a class="navbar-item" @click="current = 'managekeys'">
                                    <div>
                                    Manage Keys
                                    </div>
                                </a>
                                <a class="navbar-item" @click="signOut">
                                    <div>
                                    Sign Out
                                    </div>
                                </a>
                            </div>         
                    </div>
                    <!-- If not logged in -->
                    <div v-else>
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <input type="file" @change="loadTextFromFile" id="hiddenFileElement" style="display:none">
                                        <a class="button" onclick="document.querySelector('#hiddenFileElement').click()"><span>Import Key</span></a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-primary" onclick="document.querySelector('#createKey').classList.add('is-active')"><span>Create Key</span></a>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="columns">
                <!-- Side bar -->
                <div class="column is-4-tablet is-3-desktop is-2-widescreen">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><a v-bind:class="{'is-active': (current == 'status')}" @click="current = 'status'"><span class="icon"><i class="fas fa-check-circle"></i></span>Status</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'records')}" @click="current = 'records'"><span class="icon"><i class="fas fa-book"></i></span>Records</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'peers')}" @click="current = 'peers'"><span class="icon"><i class="fas fa-bezier-curve"></i></span>Peers</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'settings')}" @click="current = 'settings'"><span class="icon"><i class="fas fa-cog"></i></span>Settings</a></li>
                        </ul>
                    </aside>
                </div>

                <!-- SECTION: PAGES -->
                <div id="pages" class="column">
                    <!-- Node Status -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'status')}">
                        <h1 class="title">Node Status</h1>

                        <div class="columns is-multiline">
                            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                                <div class="notification is-success has-text">
                                    <p class="title is-1">1,232</p>
                                    <p class="subtitle is-4">Records</p>
                                </div>
                            </div>

                            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                                <div class="notification is-link has-text">
                                    <p class="title is-1">76</p>
                                    <p class="subtitle is-4">Peers</p>
                                </div>
                            </div>
                              
                              </div>
                        <div class="content">
                            <p class="subtitle">CouchDB node: <span class="has-text-success has-text-weight-bold">Running</span></p>
                            <p class="subtitle">IPFS node: <span class="has-text-success has-text-weight-bold">Running</span></p>
                            <p class="subtitle">Node IP Address: <span class="has-text-black has-text-weight-bold">{{ipAddress}}</span></p>
                        </div>
                    </div>
                    <!-- Record List -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'records')}">
                        <h1 class="title">Records</h1>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                <p class="subtitle is-5">
                                    <strong>2</strong> records
                                </p>
                                </div>
                            
                                <p class="level-item">
                                <a v-if="currentUser.user" class="button is-success" onclick="document.querySelector('#newRecord').classList.add('is-active')">New</a>
                                </p> 
                            </div>
                            <div class="level-right">
                                <div class="level-item is-hidden-tablet-only">
                                    <div class="field has-addons">
                                        <p class="control">
                                        <input class="input" type="text" placeholder="Recipient, Format…">
                                        </p>
                                        <p class="control">
                                        <button class="button">
                                            Search
                                        </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div v-if="currentUser.privateKey == ''" class="notification is-warning modal-success-notification">
                                <i class="fas fa-exclamation-triangle"></i> You need to import your keys to be able to add or view encrypted records
                        </div>
                        <table class="table is-fullwidth is-hoverable">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Recipient</th>
                                    <th>Files</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in records.list">
                                        <td>{{item.title}}</td>
                                        <td>{{item.recipient}}</td>
                                        <td>{{item.files}}</td>
                                        <td><a class="button is-info" @click="handleOpenRecord(item)">View</a></td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                    <!-- Peers -->
                    <!-- Load from NodeRegistration model -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'peers')}">
                        <h1 class="title">Peers</h1>
                    </div>
                    <!-- Settings -->
                    <!-- Select network -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'settings')}">
                        <h1 class="title">Settings</h1>
                    </div>
                    <!-- Notifications -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'notifications')}">
                        <h1 class="title">Notifications</h1>
                    </div>
                    <!-- Manage Keys -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'managekeys')}">
                        <h1 class="title">Manage Keys</h1>
                    </div>

                </div>
                <!-- Create Key  -->
                <div id="createKey" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h1 class="title is-size-4 has-text-centered">Create Key</h1>
                            <form action="" @submit.prevent="handleUserSubmit">
                                <div class="field">
                                    <label for="" class="label">Name</label>
                                    <div class="control">
                                        <input type="text" required v-model="formData.newUser.name" class="input" placeholder="eg.John Smith">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Email</label>
                                    <div class="control">
                                        <input type="email" required v-model="formData.newUser.email" class="input" placeholder="eg. yourname@domain.com"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Password</label>
                                    <div class="control">
                                        <input type="password" required v-model="formData.newUser.password" class="input" placeholder="********"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Keys</label>                              
                                </div>
                                <div class="field has-addons">
                                        <div class="control is-expanded">
                                          <input required class="input" v-model="formData.newUser.privateKey.d" type="text" placeholder="Click on Genarate to get a random key">
                                        </div>
                                        <div class="control">   
                                          <a class="button" v-on:click="generateKey">
                                            Generate
                                          </a>
                                        </div>
                                </div>
                                <div class="field">
                                    <input type="submit" class="button is-fullwidth is-success" value="Register & Export Key">
                                        <!-- <  class="button is-fullwidth is-success"></a> -->
                                </div>           
                            </form>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="document.querySelector('#createKey').classList.remove('is-active')"></button>
                </div>
                <!-- New Record -->
                <div id="newRecord" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h1 class="title is-size-4 has-text-centered">New Record</h1>
                                <form action="" @submit.prevent="handleRecordSubmit">
                                        <div class="field">
                                          <div class="field">
                                            <label class="label">Recipient</label>
                                            <div class="control has-icons-right" :class="{'is-loading': formData.uploadRecords.recipientValid === 1}">
                                              <input v-model="formData.uploadRecords.recipient" class="input" type="text" placeholder="e.g. tornadoalert@gmail.com" required @keyUp="handleRecordRecpientChange">
                                              <span class="icon is-small is-right" :class="{'is-hidden': formData.uploadRecords.recipientValid !== 2}">
                                                <i class="fas fa-check"></i>
                                              </span>
                                              <span class="icon is-small is-right" :class="{'is-hidden': formData.uploadRecords.recipientValid !== -1}">
                                                <i class="fas fa-times"></i>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="field">
                                            <label for="" class="label">Title</label>
                                            <input v-model="formData.uploadRecords.title" class="input" type="text" placeholder="Enter the Medblock Title" required>
                                        </div>
    <!--                                     <div class="field">
                                            <label for="" class="label">Format</label>
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select name="" id="">
                                                        <option value="">
                                                            Medical History-AES-256
                                                        </option>
                                                        <option value="">
                                                            Xray-AES-256
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="field">
                                                <div class="field">
                                                  <label class="label">Files</label>
                                                  <div class="control">
                                                    <table class="table is-fullwidth">
                                                        <thead>
                                                            <tr>
                                                                <th>File name</th>
                                                                <th class="is-narrow"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="item in formData.uploadRecords.files">
                                                                <td>{{item.name}}</td>
                                                                <td>
                                                                    <a class="button is-text" @click="handleRecordDelete(item)">
                                                                        <span class="icon is-small">
                                                                            <i class="fas fa-trash"></i>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <a class="button is-fullwidth is-text" @click="handleRecordAdd">
                                                                        <span class="icon is-small">
                                                                            <i class="fas fa-upload"></i>
                                                                        </span>
                                                                        <span>Upload New Files</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                  </div>
                                                </div>
                                        </div>
                                        <div class="field">
                                            <button id="uploadRecords-submit" class="button is-fullwidth is-success">Submit</button>
                                        </div>
                                      </form>
                        </div>
                            
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="document.querySelector('#newRecord').classList.remove('is-active')"></button>
                </div>
            </div>
        </section>
    </div>

    <script src="assets/utils.js"></script>
    <script src="assets/lib/buffer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
    <script src="assets/lib/pouchdb.authentication.min.js"></script>
    <script src="https://unpkg.com/ipfs-api/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="assets/encrypt.js"></script>
    <script src="assets/database.js"></script>
    <script src="assets/ipfs.js"></script>
    <script src="assets/script.js"></script>

</body>
</html>