<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <!-- Navigation bar -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="assets/logo.png" alt="" >
              </a>
              <a class="navbar-item"><span class="subtitle">SANA Node</span> &nbsp;beta</a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end ">
                    <!-- If logged in -->
                    <div v-if="currentUser.privateKey != ''" class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link">
                                {{currentUser.name}}
                            </div>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" @click="current = 'notifications'">
                                    <div>
                                    Notifications
                                    </div>
                                </a>
                                <a class="navbar-item" @click="current = 'managekeys'">
                                    <div>
                                    Manage Keys
                                    </div>
                                </a>
                                <a class="navbar-item" @click="signOut">
                                    <div>
                                    Sign Out
                                    </div>
                                </a>
                            </div>         
                    </div>
                    <!-- If not logged in -->
                    <div v-else>
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <input type="file" @change="loadTextFromFile" id="hiddenFileElement" style="display:none">
                                        <a class="button" onclick="document.querySelector('#hiddenFileElement').click()"><span>Import Key</span></a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-primary" onclick="document.querySelector('.modal.create-key').classList.add('is-active')"><span>Create Key</span></a>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="columns">
                <!-- Side bar -->
                <div class="column is-4-tablet is-3-desktop is-2-widescreen">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><a v-bind:class="{'is-active': (current == 'status')}" @click="current = 'status'"><span class="icon"><i class="fas fa-check-circle"></i></span>Status</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'records')}" @click="current = 'records'"><span class="icon"><i class="fas fa-book"></i></span>Records</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'peers')}" @click="current = 'peers'"><span class="icon"><i class="fas fa-bezier-curve"></i></span>Peers</a></li>
                            <li><a v-bind:class="{'is-active': (current == 'settings')}" @click="current = 'settings'"><span class="icon"><i class="fas fa-cog"></i></span>Settings</a></li>
                        </ul>
                    </aside>
                </div>

                <!-- SECTION: PAGES -->
                <div id="pages" class="column">
                    <!-- Node Status -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'status')}">
                        <h1 class="title">Node Status</h1>

                        <div class="columns is-multiline">
                            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                                <div class="notification is-success has-text">
                                    <p class="title is-1">1,232</p>
                                    <p class="subtitle is-4">Records</p>
                                </div>
                            </div>

                            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                                <div class="notification is-link has-text">
                                    <p class="title is-1">76</p>
                                    <p class="subtitle is-4">Peers</p>
                                </div>
                            </div>
                              
                              </div>
                        <div class="content">
                            <p class="subtitle">CouchDB node: <span class="has-text-success has-text-weight-bold">Running</span></p>
                            <p class="subtitle">IPFS node: <span class="has-text-success has-text-weight-bold">Running</span></p>
                            <p class="subtitle">Node IP Address: <span class="has-text-black has-text-weight-bold">{{ipAddress}}</span></p>
                        </div>
                    </div>
                    <!-- Record List -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'records')}">
                        <h1 class="title">Records</h1>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                <p class="subtitle is-5">
                                    <strong>2</strong> records
                                </p>
                                </div>
                            
                                <p class="level-item">
                                <a class="button is-success" onclick="document.querySelector('.modal.new-record').classList.add('is-active')">New</a>
                                </p> 
                            </div>
                            <div class="level-right">
                                <div class="level-item is-hidden-tablet-only">
                                    <div class="field has-addons">
                                        <p class="control">
                                        <input class="input" type="text" placeholder="Recipient, Format…">
                                        </p>
                                        <p class="control">
                                        <button class="button">
                                            Search
                                        </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div v-if="currentUser.privateKey == ''" class="notification is-warning modal-success-notification">
                                <i class="fas fa-exclamation-triangle"></i> You need to import your keys to be able to add or view encrypted records
                        </div>
                        <table class="table is-fullwidth is-hoverable">
                                <thead>
                                  <tr>
                                    <th>Record ID</th>
                                    <th>Recipient</th>
                                    <th>Format</th>
                                    <th>Permission</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1233</td>
                                        <td>tornadoalert@gmail.com</td>
                                        <td>History-AES-256</td>
                                        <td><a  class="button is-info">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>433</td>
                                        <td>tornadoalert@gmail.com</td>
                                        <td>Xray-AES-256</td>
                                        <td><a  class="button is-danger is-loading" disabled>Request</a></td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                    <!-- Peers -->
                    <!-- 
                        - Load from NodeRegistration model
                     -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'peers')}">
                        <h1 class="title">Peers</h1>
                    </div>
                    <!-- Settings -->
                    <!-- 
                        - Select network

                     -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'settings')}">
                        <h1 class="title">Settings</h1>
                    </div>
                    <!-- Notifications -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'notifications')}">
                        <h1 class="title">Notifications</h1>
                    </div>
                    <!-- Manage Keys -->
                    <div class="column" v-bind:class="{'is-hidden': (current !== 'managekeys')}">
                        <h1 class="title">Manage Keys</h1>
                    </div>

                </div>
                <!-- Create Key  -->
                <div class="modal create-key">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h1 class="title is-size-4 has-text-centered">Create Key</h1>
                            <form action="" @submit.prevent="handleSubmit">
                                <div class="field">
                                    <label for="" class="label">Name</label>
                                    <div class="control">
                                        <input type="text" required v-model="newUser.name" class="input" placeholder="eg.John Smith">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Email</label>
                                    <div class="control">
                                        <input type="email" required v-model="newUser.email" class="input" placeholder="eg. yourname@domain.com">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Keys</label>                              
                                </div>
                                <div class="field has-addons">
                                        <div class="control is-expanded">
                                          <input required class="input" v-model="newUser.privateKey.d" type="text" placeholder="Click on Genarate to get a random key">
                                        </div>
                                        <div class="control">   
                                          <a class="button" v-on:click="generateKey">
                                            Generate
                                          </a>
                                        </div>
                                </div>
                                <div class="field">
                                    <input type="submit" class="button is-fullwidth is-success" value="Register & Export Key">
                                        <!-- <  class="button is-fullwidth is-success"></a> -->
                                </div>           
                            </form>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="document.querySelector('.modal.create-key').classList.remove('is-active')"></button>
                </div>
                <!-- New Record -->
                <div class="modal new-record">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h1 class="title is-size-4 has-text-centered">New Record</h1>
                                <form>
                                        <div class="field">
                                          <div class="field">
                                            <label class="label">Recipient</label>
                                            <div class="control">
                                              <input class="input" type="text" placeholder="e.g. tornadoalert@gmail.com" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="field">
                                            <label for="" class="label">Format</label>
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select name="" id="">
                                                        <option value="">
                                                            Medical History-AES-256
                                                        </option>
                                                        <option value="">
                                                            Xray-AES-256
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                                <div class="field">
                                                  <label class="label">Data</label>
                                                  <div class="control">
                                                    <textarea class="textarea" placeholder="All text data goes here..."></textarea>
                                                  </div>
                                                </div>
                                              </div>
                                        <div class="field">
                                            <button class="button is-fullwidth is-success">Submit</button>
                                        </div>
                                      </form>
                        </div>
                            
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="document.querySelector('.modal.new-record').classList.remove('is-active')"></button>
                </div>
            </div>
        </section>
    </div>

    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="assets/encryption.js"></script>
    <script>
            let GENERAL = new PouchDB('generaldata');

            const DATA = {
                current: 'status',
                unvalidatedJSON: '',
                newUser:{
                    publicKey: '',
                    privateKey: '',
                    name: '',
                    email: ''
                },
                currentUser: {
                    publicKey: '',
                    privateKey: '',
                    name: '',
                    email: ''
                },
                ipAddress: ''
            };

            // Check if pouch contains already logged in user
            GENERAL.get('user').then(function (usrdata) {
                DATA.unvalidatedJSON = usrdata.data;
            }, function (err) {});

            function saveUser () {
                if (validateUserJSON(DATA.unvalidatedJSON)) {
                    GENERAL.get('user').then(doc => {
                        doc.data = DATA.unvalidatedJSON;
                        return GENERAL.put(doc);
                    }).then(function () {
                        // console.log('saved user');
                    }).catch(e => {
                        if (e.status === 404) {
                            GENERAL.put({
                                data: DATA.unvalidatedJSON,
                                _id: 'user'
                            });
                        }
                        console.log(e);
                    });
                }
            };

            function validateUserJSON (val) {
                if (val.length === 0) {
                    return true;
                }
                let data = JSON.parse(val);
                let keys = Object.keys(data);
                if (!(keys.indexOf('name') > -1 && keys.indexOf('email') > -1 && keys.indexOf('privateKey') > -1 && keys.indexOf('privateKey') > -1)) {
                    return false;
                }
                return true;
            };

            var main = new Vue({
                el: '#app',
                data: DATA,
                created() {
                        //compatibility for firefox and chrome
                        var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
                        var pc = new myPeerConnection({
                            iceServers: []
                        }),
                        noop = function() {},
                        localIPs = {},
                        ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
                        key;
                        
                        function iterateIP(ip) {
                            if (!localIPs[ip]) window.main.ipAddress=(ip);
                            localIPs[ip] = true;
                        }
                    
                         //create a bogus data channel
                        pc.createDataChannel("");
                    
                        // create offer and set local description
                        pc.createOffer().then(function(sdp) {
                            sdp.sdp.split('\n').forEach(function(line) {
                                if (line.indexOf('candidate') < 0) return;
                                line.match(ipRegex).forEach(iterateIP);
                            });
                            
                            pc.setLocalDescription(sdp, noop, noop);
                        }).catch(function(reason) {
                            // An error occurred, so handle the failure to connect
                        });
                    
                        //listen for candidate events
                        pc.onicecandidate = function(ice) {
                            if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
                            ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
                        };
                },
                methods: {
                    generateKey () {
                        window.crypto.subtle.generateKey(
                            {
                                name: "RSA-OAEP",
                                modulusLength: 2048, //can be 1024, 2048, or 4096
                                publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
                                hash: {name: "SHA-256"}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
                            },
                            true, //whether the key is extractable (i.e. can be used in exportKey)
                            ["encrypt", "decrypt"] //must be ["encrypt", "decrypt"] or ["wrapKey", "unwrapKey"]
                        )
                        .then(key => {
                            window.crypto.subtle.exportKey("jwk",key.privateKey).then(privateKey=>this.newUser.privateKey = privateKey);
                            console.log(key);
                            window.crypto.subtle.exportKey("jwk",key.publicKey).then(publicKey=>this.newUser.publicKey = publicKey)
                            })
                        .catch(function(err){
                            console.error(err);
                        });				
                    },

                    handleSubmit () {
                        data = {
                            name: this.newUser.name,
                            email: this.newUser.email,
                            publicKey: this.newUser.publicKey,
                            privateKey: this.newUser.privateKey
                        }
                        function downloadObjectAsJson(exportObj, exportName){
                            var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
                            var downloadAnchorNode = document.createElement('a');
                            downloadAnchorNode.setAttribute("href", dataStr);
                            downloadAnchorNode.setAttribute("download", exportName + ".json");
                            document.body.appendChild(downloadAnchorNode); // required for firefox
                            downloadAnchorNode.click();
                            downloadAnchorNode.remove();
                          }                        
                        downloadObjectAsJson(data, 'user');
                        // Set the current user
                        DATA.unvalidatedJSON = JSON.stringify(data);
                        // Save user to db
                        saveUser();
                        // Close modal
                        document.querySelector('.modal.create-key').classList.remove('is-active')
                    },

                    loadTextFromFile(ev) {
                        const file = ev.target.files[0];
                        const reader = new FileReader();
                        reader.onload = e => {
                            this.unvalidatedJSON = e.target.result;
                            // Save user to db
                            saveUser();
                        };
                        reader.readAsText(file);
                    },

                    signOut () {
                        this.unvalidatedJSON = "";
                        saveUser();
                    }
                },
                watch: {
                    currentUser () {
                        val = this.unvalidatedJSON;
                        if (val.length == 0) {
                            return {
                                name:'',
                                email:'',
                                publicKey:'',
                                privateKey:''
                            }
                        }
                        user = {}
                        if (validateUserJSON(val))  {
                            data = JSON.parse(val);
                            window.crypto.subtle.importKey(
                            "jwk", 
                            data.privateKey, 
                            {
                                name: "RSA-OAEP",
                                hash: {name: "SHA-256"}
                            }, 
                            false, 
                            ['decrypt'])
                            .then(key => user.privateKey=key)
                            .catch(console.log);
                            window.crypto.subtle.importKey(
                            "jwk", 
                            data.publicKey, 
                            {
                                name: "RSA-OAEP",
                                hash: {name: "SHA-256"}
                            }, 
                            false, 
                            ['encrypt'])
                            .then(key => user.publicKey=key)
                            .catch(console.log);
                            user.name = data.name;
                            user.email = data.email;
                            return user;
                        }
                        else {
                            alert("Wrong file!");
                        }
                    },
                }
            })
    </script>

</body>
</html>